~*
*.zip

# ignore the output file
*_out.xlsx
*_outputs.xlsx
*out.xlsx
*_out_*.xlsx

# ignore the research file
*research.xlsx

# ignore the exercise folder
exercise/

# ignore log files
*.txt

# Mac files
.DS_Store