~*
*.zip

# ignore the output file
*_out.xlsx
*_outputs.xlsx
*out.xlsx
*_out_*.xlsx
*_diffs.xlsx

# ignore the tracking file
*_tracking_*.xlsx
*_tracking.xlsx

# ignore the enumdb file
*_enumdb.xlsx 

# ignore the research file
*research.xlsx

# ignore the duplicates file
*dups.xlsx

# ignore the exercise folder
exercise/

# ignore log files
*.txt

# ignore posthfc files
*_posthfc.dta

# Mac files
.DS_Store